.header {
  height: 100vh;
  background-image: var(--gradien-green), url("/images/hero.jpg");
  background-position: top;
  background-size: cover;

  position: relative;
}
#background-component {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary--main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation: moveInLeft 1s;
  animation-timing-function: ease-out;
}
.heading-primary--sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 17.4px;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn {
  text-transform: uppercase !important;
  text-decoration: none !important;
  padding: 15px 40px;
  background-color: white !important;

  color: #777 !important;
  display: inline-block !important;
  border-radius: 500px !important;
  transition: all 0.2s !important;
  animation: moveInBottom 0.5s ease-out 0.75s !important;
  animation-fill-mode: backwards !important;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.description {
  padding-top: 210px;
  margin-top: -170px;
  min-height: 600px;
}
.content {
  text-align: center;
}
.subHeading {
  font-size: 40px;
  background-image: var(--gradien-green); /* Define your gradient colors */
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  /* text-align: start; */
}

.navshadow {
  color: gray;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
}
.navhead {
  background-image: var(--gradien-green); /* Define your gradient colors */
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

/* 
} */

.heroPage {
  background-color: white;
}
